<!DOCTYPE html>
<!-- [if IE]><html class="ie"><![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="description" content="this is a blog website for learning how to use vue framework.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/editor.md/css/editormd.css" rel="stylesheet" />
    <title>Evo Blog</title>
</head>

<body>
    <div id="app"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/editor.md/editormd.min.js"></script>
    <script src="/static/editor.md/languages/en.js"></script>
</body>

</html>